.w-full{
  width: 100%;
}
.h-screen{
  height: 100vh;
}
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.w1{
  width: 1px;
  height: 1px;
}
.rounded{
  border-radius: 10px;
}
.mb-1{
  margin-bottom: 1em;
}